<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<link th:href="@{/webjars/bootstrap/5.3.2/css/bootstrap.min.css}" rel="stylesheet">
	<!--<link th:href="@{/webjars/font-awesome/6.4.2/css/font-awesome.css}" rel="stylesheet">-->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<title>Edit Player</title>
	<style>
		body,
		html {
			margin: 0;
			padding: 0;
			margin-top: 2%;
			height: 280%;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			background-image: url('/imgs/fondo.jpg');
			background-size: cover;
			background-position: center center;
			background-repeat: no-repeat;
			background-attachment: fixed;
		}

		.container {
			width: 100%;
		}

		img {
			width: 100%;
			height: auto;
		}

		.additional-fields {
			display: none;
		}

		.form-label {
			font-weight: bold;
		}

		.form-control {
			box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
			transition: box-shadow 0.3s ease;
		}

		.form-control:focus {
			box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
		}

		.form-container {
			border: 1px solid black;
			border-radius: 20px;
			background-color: rgba(240, 248, 255, 0.6);
			padding: 5%;
		}
	</style>
</head>

<body>
	<div class="container">
		<!-- Encabezado -->
		<div class="row align-items-center">
			<div class="row">
				<a href="/home/index">
					<img src="/imgs/banner.png" alt="Banner" />
				</a>
			</div>
		</div>
		<br>
		<!-- Navegador -->
		<div class="row align-items-center">
			<div class="col text-center" style="width: 100%;">
				<div th:replace="~{navbar :: navbarFragment}"></div>
			</div>
		</div>
		<br>
		<br>
		<!-- Cuerpo -->
		<div class="container form-container">
			<div th:if="${success}" class="alert alert-success" role="alert">
				<span th:text="${success}"></span>
			</div>
			<div th:if="${error}" class="error-message alert alert-danger" role="alert">
				<p th:text="${error}"></p>
			</div>
			<h2 style="text-align: center; text-decoration:underline;">Edit Player</h2>
			<br>
			<form th:action="@{'/adminedit/updatePlayer/update/' + ${id}}" th:object="${player}" method="post"
				enctype="multipart/form-data">
				<input type="hidden" th:if="${_csrf}" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
				<div class="mb-3">
					<label for="name" class="form-label">Name:</label>
					<input type="text" th:field="*{name}" class="form-control" id="name" name="name" required>
				</div>
				<div class="mb-3">
					<label for="position"  class="form-label">Position:</label>
					<select class="form-control" th:field="*{position}" id="position" name="position" required>
						<option value="">Select Position</option>
						<option value="Portero">Portero</option>
						<option value="Defensa">Defensa</option>
						<option value="Centrocampista">Centrocampista</option>
						<option value="Delantero">Delantero</option>
					</select>
				</div>
				<div class="mb-3">
					<label for="age" class="form-label">Age:</label>
					<input type="number" th:field="*{age}" class="form-control" id="age" name="age" required>
				</div>
				<div class="form-label-group">
					<label for="image"><strong>Select Image: </strong></label>
					<input style="margin-top: 1%;" type="file" id="imageFile" name="imageFile"
						accept=".png, .jpg, .jpeg" onchange="updateHiddenField()" class="form-control">
				</div>
				<div><input type="hidden" id="image" name="image" th:field="*{image}"> </div>
				<div class="form-label-group">
					<label for="id_team"><strong>Player Team:</strong></label>
					<select class="form-control" th:field="*{id_team}" id="id_team" name="id_team" required>
						<option th:each="team : ${teams}" th:value="${team.id_team}" th:text="${team.name}">Team
						</option>
					</select>
				</div>

				<div class="mb-3">
					<label for="dorsal" class="form-label">Dorsal:</label>
					<input type="number" th:field="*{dorsal}" class="form-control" id="dorsal" name="dorsal" required>
				</div>
				<div class="mb-3">
					<label for="nationality" class="form-label">Nationality:</label>
					<input type="text" th:field="*{nationality}" class="form-control" id="nationality" name="nationality">
				</div>
				<div class="mb-3">
					<label for="market_value" class="form-label">Market Value:</label>
					<input type="number" th:field="*{market_value}" class="form-control" id="market_value" name="market_value">
				</div>
				<div class="mb-3">
					<label for="salary" class="form-label">Salary:</label>
					<input type="number" th:field="*{salary}" class="form-control" id="salary" name="salary">
				</div>
				<div class="row mb-3">
					<div class="col">
						<label for="goals" class="form-label">Goals:</label>
						<input type="number" th:field="*{goals}" class="form-control" id="goals" name="goals">
					</div>
					<div class="col">
						<label for="assists" class="form-label">Assists:</label>
						<input type="number" th:field="*{assists}" class="form-control" id="assists" name="assists">
					</div>
					<div class="col">
						<label for="yc" class="form-label">Yellow Cards:</label>
						<input type="number" th:field="*{yc}"class="form-control" id="yc" name="yc">
					</div>
					<div class="col">
						<label for="rc" class="form-label">Red Cards:</label>
						<input type="number" th:field="*{rc}" class="form-control" id="rc" name="rc">
					</div>
				</div>
				<div class="mb-3">
					<label for="contract" class="form-label">Contract:</label>
					<input type="number" th:field="*{contract}" class="form-control" id="contract" name="contract">
				</div>
				<div class="mb-3">
					<label for="footballaspects" class="form-label">Football Aspects:</label>
					<textarea class="form-control" th:field="*{footballaspects}" id="footballaspects" name="footballaspects"></textarea>
				</div>
				<div class="mb-3">
					<label for="diet" class="form-label">Diet:</label>
					<textarea class="form-control" th:field="*{diet}" id="diet" name="diet"></textarea>
				</div>
				<div class="mb-3">
					<label for="transfer_status" class="form-label">Transfer Status:</label>
					<select class="form-control" th:field="*{transfer_status}" id="transfer_status" name="transfer_status" onchange="updateTeamId()">
						<option value="">Select Transfer Status</option>
						<option value="Transferible">Transferible</option>
						<option value="Instransferible">Instransferible</option>
						<option value="Cedido">Cedido</option>
						<option value="Agente Libre">Agente Libre</option>
					</select>
				</div>
				<div class="mb-3 form-check">
					<input type="checkbox" class="form-check-input" id="injured" name="injured" th:checked="${player.is_injured}">
					<label class="form-check-label" for="is_injured">Is Injured</label>
				</div>
				<div class="mb-3 form-check">
					<input type="checkbox" class="form-check-input" id="sancionated" name="sancionated" th:checked="${player.is_sancionated}">
					<label class="form-check-label" for="is_sancionated">Is Sancionated</label>
				</div>

				<button type="submit" class="btn btn-primary">Edit</button>
			</form>


			<br>
			<br>
			<!-- Footer -->
			<footer class="bg-body-tertiary text-center text-lg-start">
				<div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.05);">
					© 2024 Copyright: FOOTBALLZONE
				</div>
			</footer>
		</div>
</body>
<script>
	function updateTeamId() {
		var transferStatus = document.getElementById('transfer_status').value;
		var teamIdField = document.getElementById('id_team');

		if (transferStatus === 'Agente Libre') {
			teamIdField.value = 9; // Set team ID for Agente Libre
			teamIdField.setAttribute('readonly', true); // Make team ID readonly
		} else {
			teamIdField.value = ''; // Clear team ID
			teamIdField.removeAttribute('readonly'); // Remove readonly attribute
		}
	}

	function updateHiddenField() {
		// Obtén el nombre del archivo seleccionado
		var logoInput = document.getElementById('imageFile');
		var logoNameInput = document.getElementById('image');

		if (logoInput.files.length > 0) {
			var fileName = logoInput.files[0].name;
			logoNameInput.value = fileName;
		}
	}
	
	var errorMessage = document.querySelector('.error-message');
			var successMessage = document.querySelector('.alert-success');

			// Mostrar el mensaje de error si tiene texto
			if (errorMessage && errorMessage.textContent.trim() !== '') {
				errorMessage.style.display = 'block';
			}

			// Mostrar el mensaje de éxito si tiene texto
			if (successMessage && successMessage.textContent.trim() !== '') {
				successMessage.style.display = 'block';
			}

			// Ocultar los mensajes después de 5 segundos
			setTimeout(function () {
				if (errorMessage) {
					errorMessage.style.display = 'none';
				}
				if (successMessage) {
					successMessage.style.display = 'none';
				}
			}, 5000);
</script>

</html>