<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<link th:href="@{/webjars/bootstrap/5.3.2/css/bootstrap.min.css}" rel="stylesheet">
	<!--<link th:href="@{/webjars/font-awesome/6.4.2/css/font-awesome.css}" rel="stylesheet">-->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<title>Contact</title>
	<style>
		body,
		html {
			margin: 5%;
			margin-top: 5%;
			padding: 0;
			height: 100%;
			display: flex;
			justify-content: center;
			align-items: center;
		}

		.container {
			padding: 0;
			width: 100%;
		}

		img {
			width: 100%;
			height: auto;
		}
	</style>
</head>

<body
	style="background-image: url('/imgs/fondo.jpg'); background-size: cover; background-position: center center; background-repeat: no-repeat; background-attachment: fixed;">

	<div class="container">
		<!-- Encabezado -->
		<div class="row align-items-center">
			<div class="row">
				<a href="/home/index">
					<img src="/imgs/banner.png" alt="Banner" />
				</a>
			</div>
		</div>
		<br>
		<!-- Navegador -->
		<div class="row align-items-center">
			<div class="col text-center" style="width: 100%;">
				<div th:replace="~{navbar :: navbarFragment}"></div>
			</div>
		</div>
		<br>
		<br>
		<!-- Cuerpo -->
		<div class="row align-items-center justify-content-center">
			<div class="col-md-6 text-center"
				style="background-color: rgba(255, 255, 255, 0.7); border-radius: 10px; display: flex; flex-direction: column; justify-content: center; align-items: center;">


				<h2>Contact</h2>

				<p>We would love to hear from you! If you have any questions, comments, or suggestions, please do not
					hesitate to get in touch with us. We are here to assist you in any way we can.</p>

				<p>You can reach our customer service team through the following means:</p>

				<ul style="list-style-type: none; padding-left: 0;">
					<li><i class="fa fa-envelope"></i> Email: info@footballzone.com</li>
					<li><i class="fa fa-phone"></i> Phone: +34 666578412</li>
					<li><i class="fa fa-map-marker"></i> Address: Av. Principal #123, Barbate (Cádiz), Spain</li>
				</ul>
			</div>
		</div>
		<br>
		<br>
		<!-- Footer -->
		<footer class="bg-body-tertiary text-center text-lg-start">
			<div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.05);">
				© 2024 Copyright: FOOTBALLZONE
			</div>
		</footer>
	</div>

</body>

</html>