<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<link th:href="@{/webjars/bootstrap/5.3.2/css/bootstrap.min.css}" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<title>All Dietists</title>
	<style>
		body,
		html {
			margin: 7%;
			margin-top: 12%;
			padding: 0;
			height: 80%;
			display: flex;
			justify-content: center;
			align-items: center;
			background-image: url('/imgs/fondo.jpg');
			background-size: cover;
			background-position: center center;
			background-repeat: no-repeat;
			background-attachment: fixed;
		}

		.container {
			width: 100%;
		}

		.content-wrapper {
			background-color: rgba(255, 255, 255, 0.7);
			border-radius: 15px;
			padding: 20px;
			width: 100%;
		}

		.fa {
			margin-left: 10px;
		}

		td {
			vertical-align: middle;
		}
	</style>
	<script>
    document.addEventListener("DOMContentLoaded", function() {
        function filterDietists() {
            var input = document.getElementById("dietistFilter");
            var filter = input.value.toUpperCase();
            var teamFilter = document.getElementById("teamFilter");
            var selectedTeamId = teamFilter.value.toUpperCase();
            var table = document.getElementById("dietistsTable");
            var tr = table.getElementsByTagName("tr");

            for (var i = 1; i < tr.length; i++) {
                var teamId = tr[i].getAttribute("data-teamid");
                var tdName = tr[i].getElementsByTagName("td")[0];

                if (tdName) {
                    var txtValue = tdName.textContent || tdName.innerText;
                    if ((txtValue.toUpperCase().indexOf(filter) > -1) && (selectedTeamId === "" || selectedTeamId === teamId)) {
                        tr[i].style.display = "";
                    } else {
                        tr[i].style.display = "none";
                    }
                }
            }
        }

        var errorMessage = document.querySelector('.error-message');
        var successMessage = document.querySelector('.alert-success');

        // Mostrar el mensaje de error si tiene texto
        if (errorMessage && errorMessage.textContent.trim() !== '') {
            errorMessage.style.display = 'block';
        }

        // Mostrar el mensaje de éxito si tiene texto
        if (successMessage && successMessage.textContent.trim() !== '') {
            successMessage.style.display = 'block';
        }

        // Ocultar los mensajes después de 5 segundos
        setTimeout(function () {
            if (errorMessage) {
                errorMessage.style.display = 'none';
            }
            if (successMessage) {
                successMessage.style.display = 'none';
            }
        }, 5000);

        // Añadir evento de filtrado
        document.getElementById("dietistFilter").addEventListener("keyup", filterDietists);
        document.getElementById("teamFilter").addEventListener("change", filterDietists);
    });
</script>

</head>

<body>
	<div class="container">
		<!-- Encabezado -->
		<div class="row align-items-center">
			<div class="row">
				<a href="/home/index">
					<img src="/imgs/banner.png" alt="Banner" />
				</a>
			</div>
		</div>
		<br>
		<!-- Navegador -->
		<div class="row align-items-center">
			<div class="col text-center" style="width: 100%;">
				<div th:replace="~{navbar :: navbarFragment}"></div>
			</div>
		</div>
		<br>
		<br>
		<!-- Cuerpo -->
		<div class="content-wrapper">
			<div class="row">
				<div class="col">
					<div th:if="${success}" class="alert alert-success" role="alert">
						<span th:text="${success}"></span>
					</div>
					<div th:if="${error}" class="error-message alert alert-danger" role="alert">
						<p th:text="${error}"></p>
					</div>
					<h2 style="text-align: center;">All Dietists</h2>
					<br>
					<div class="row align-items-center">
						<div class="col-md-6 mb-3">
							<input type="text" id="dietistFilter" onkeyup="filterDietists()"
								placeholder="Filter by dietist's name" class="form-control">
						</div>
						<div class="col-md-6 mb-3">
							<select id="teamFilter" onchange="filterDietists()" class="form-control">
								<option value="">All Teams</option>
								<option th:each="team : ${teams}" th:value="${team.id_team}"
									th:if="${team.name != 'Agentes Libres'}" th:text="${team.name}">Team
									Name</option>
							</select>
						</div>
					</div>

					<table id="dietistsTable" class="table table-bordered">
						<thead style="background-color: #007bff;">
							<tr>
								<th>Name</th>
								<th>Age</th>
								<th>Team</th>
								<th>Actions</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="dietist : ${dietists}" th:data-teamid="${dietist.idteam_dietist}">
								<td th:text="${dietist.name}">Name</td>
								<td th:text="${dietist.age}">Age</td>
								<td th:each="team : ${teams}" th:if="${team.id_team == dietist.idteam_dietist}"
									th:text="${team.name}">Dietist Team</td>
								<td>
									<a class="fa fa-wrench" th:href="@{/adminedit/updateDietist/{id}(id=${dietist.id_dietist})}"></a>
									<a class="fa fa-trash"
										th:href="@{/adminshow/deleteDietist/{id}(id=${dietist.id_dietist})}"
										th:onclick="return confirm('¿Are you sure you want to delete this dietist?');"></a>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
		<br>
		<br>
		<!-- Footer -->
		<footer class="bg-body-tertiary text-center text-lg-start">
			<div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.05);">
				© 2024 Copyright: FOOTBALLZONE
			</div>
		</footer>
	</div>
</body>

</html>